.slide {
	background: #0095cd;
	background: -moz-linear-gradient(top, #0095cd 0%, #65c7ec 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0095cd), color-stop(100%,#65c7ec));
	background: -webkit-linear-gradient(top, #0095cd 0%,#65c7ec 100%);
	background: -o-linear-gradient(top, #0095cd 0%,#65c7ec 100%);
	background: -ms-linear-gradient(top, #0095cd 0%,#65c7ec 100%);
	background: linear-gradient(top, #0095cd 0%,#65c7ec 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0095cd', endColorstr='#65c7ec',GradientType=0 );

	width: 920px;
	height: 400px;
	margin: auto;

	position: absolute;
	top: 20px;
	left: 300px;

	overflow: hidden;
}

.slide ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.icon {
	position: absolute;
	width: 100px;
	height: 600px;
	display: block;
	text-indent: -999px;
	background: url('../img/icon1.png');
	top: 155px;
	left: 300px;
    -webkit-animation-duration:         10s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function:  linear;
}

/*
 * Slideshow item
 */
.icon-1 {
	-webkit-animation-name:             rotate1; 
}

@-webkit-keyframes rotate1 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

/*
 * Slideshow item
 */
.icon-2 {
	-webkit-animation-name:             rotate2; 
}

@-webkit-keyframes rotate2 {
  from {
    -webkit-transform: rotate(30deg);
  }
  to { 
    -webkit-transform: rotate(390deg);
  }
}

/*
 * Slideshow item
 */
.icon-3 {
	-webkit-animation-name:             rotate3; 
}

@-webkit-keyframes rotate3 {
  from {
    -webkit-transform: rotate(330deg);
  }
  to { 
    -webkit-transform: rotate(690deg);
  }
}

/*
 * Slideshow item
 */
.icon-4 {
	-webkit-animation-name:             rotate4; 
}

@-webkit-keyframes rotate4 {
  from {
    -webkit-transform: rotate(300deg);
  }
  to { 
    -webkit-transform: rotate(660deg);
  }
}

/*
 * Slideshow item
 */
.icon-5 {
	-webkit-animation-name:             rotate5; 
}

@-webkit-keyframes rotate5 {
  from {
    -webkit-transform: rotate(60deg);
  }
  to { 
    -webkit-transform: rotate(420deg);
  }
}